---
- name: Ensure group exists for user
  group:
    name: "{{ item }}"
    state: present
  loop: "{{ user_groups | default([]) }}"

- name: Create user
  user:
    name: "{{ user_name }}"
    uid: "{{ (user_uid | int) if (user_uid | string) | length > 0 else omit }}"
    shell: "{{ user_shell }}"
    groups: "{{ (user_groups | join(',')) if (user_groups | length) > 0 else omit }}"
    append: yes
    create_home: yes
    state: present

- name: Ensure .ssh directory exists
  file:
    path: "/home/{{ user_name }}/.ssh"
    state: directory
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: '0700'

- name: Set authorized keys
  copy:
    dest: "/home/{{ user_name }}/.ssh/authorized_keys"
    content: "{{ user_authorized_keys | join('\n') }}\n"
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: '0600'

