# Ignore everything except laravel_root
# *
# !laravel_root/

# Within laravel_root, ignore local dependencies (will be installed in container)
laravel_root/node_modules/
laravel_root/vendor/

# Build artifacts (will be built in container, or mounted from host system)
laravel_root/public/build/

# Environment files (mounted from host system)
laravel_root/.env*